<?xml version="1.0" encoding="utf-8"?>

<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

<system.web>
  <compilation debug="true" targetFramework="4.0" />
  <sessionState timeout="1" ></sessionState>
</system.web>
<connectionStrings>
  <add name="db_SE" connectionString="Server=17ec434a-c0ed-4061-a8ba-a10100b208ff.sqlserver.sequelizer.com;Database=db17ec434ac0ed4061a8baa10100b208ff;User ID=pqkhnhclwluqeqek;Password=iGcaTpHgMM4etMtGLTg8wxKqRmY3DH7vXTS3bCDvfqN2xbiogoaxEkcT6UrFxNKd;" providerName="System.Data.SqlClient"/>
  <!--<add name="db_SE" connectionString="Data Source=XRDT-PC\SQLEXPRESS;Initial Catalog=SE;User ID=sa;Password=test" providerName="System.Data.SqlClient"/>-->
</connectionStrings>

</configuration>